*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.navbar{
	background-color:#000000;

}

.nav-link{
	color:blue;
	font-size:1rem;
	font-weight:700;
	cursor:pointer;
	text-decoration:none;
}
.nav-link:hover{
	color:white;
	background-color:blue;
	
}
.navbar-brand{
	font-size:1.25rem;
	font-weight:800;
	color:blue;
	cursor:pointer;
	text-decoration:none;
}

.nav-link{
	margin-right: 15px;
	color:#2F363F;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #4C4B4B;
	letter-spacing: 0.5px;
}
h2{
	color: #4C4B4B;
	letter-spacing: 0.5px;
	font-family: raleway;
}
.intro{
	background: #EAF0F1;
}
.main{
	background:url(../images/bank_1.jpg)no-repeat;
	background-size:cover;
	text-align: center;
	width:100%;
	height:95vh;
	margin:auto;
	
}
.main h4{
	text-align:right;
	font-size:4.0rem;
	font-width:700;
	color:black;
	font-family:cursive;
}
.main h3{
	text-align:right;
	font-size:4.0rem;
	font-width:700;
	color:black;
	font-family:cursive;
}

h1{
	color: #4C4B4B;
	font-weight: bold;
	transition: 0.5s;
}
h3{
	color:#2F363F;
}
button{
	border:none;
	border-radius: 8px;
	padding: 10px;
	background:#7B8788; 
	color:white;
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#4C4B4B;
}
footer{
	color:#586776;
	background-color:#EAF0F1;
	letter-spacing: 0.5px;
}
footer p{
	margin: 0;
	font-size: 15px;
}
@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	.act{
		padding-bottom: 100px;
	}
}